extends layout
include _includes/sharedHTMLfunctions

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(location.rating)
          p= address 
          .panel.panel-primary
            .panel-heading
              h2.panel-title= lblOpening 
            .panel-body
              each opening in location.openingTimes
                p= opening.days + " " + opening.opening + " - " + opening.closing
          .panel.panel-primary
            .panel-heading
              h2.panel-title= lblFac 
            .panel-body
              each fac in location.facilities
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;#{fac}
                | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title= lblLoc 
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{location.coords.lat},#{location.coords.lng}&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/#{location._id}/reviews/new')= lblAddReview 
              h2.panel-title= reviewtitle 
            .panel-body.review-container
              each review in location.reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +outputRating(review.rating)
                      span.reviewAuthor= review.author
                      small.reviewTimestamp 
                        +formatDate(review.createdOn)
                    .col-xs-12
                      p= review.reviewText 
    .col-xs-12.col-md-3
      p.lead
        | #{title} #{sidebar.context}
      p
        | #{sidebar.callToAction}