extends layout
include _includes/sharedHTMLfunctions

block content
  .row.page-header
    .col-lg-12
      h1= name
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(rating)
          p= address 
          .panel.panel-primary
            .panel-heading
              h2.panel-title= lblOpening 
            .panel-body
              each opening in openings
                p= opening
          .panel.panel-primary
            .panel-heading
              h2.panel-title= lblFac 
            .panel-body
              each fac in facilities
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;#{fac}
                | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title= lblLoc 
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=43.062918440240985,-89.46509724223631&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new')= lblAddReview 
              h2.panel-title= reviewtitle 
            .panel-body.review-container
              each review in reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +outputRating(review.rating)
                      span.reviewAuthor= review.author
                      small.reviewTimestamp= review.date
                    .col-xs-12
                      p= review.review 
    .col-xs-12.col-md-3
      p.lead
        | #{sidebars[0]}
      p
        | #{sidebars[1]}